<table>
                
  <tr>
      <label style="font-size:40px; margin-bottom: 20px"><b>Apply for leave</b></label>
  </tr>
</table>
<br>

    <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
        <div *ngIf="!!create_leave_req_msg" [ngClass]="has_error ? 'alert alert-danger': 'alert alert-info'">{{create_leave_req_msg}}</div>
     
     <!---  <div class="row">
        <div class="col-xs-6">
          <div class="form-group" *ngFor = "let user of users.users">
            <label  for="employeeName"> Employee Name</label>
            <input type="text" id="employeeName" formControlName="employeeName" class="form-control">
            {{user.firstName}}
          </div>
           </div>
       </div>--> 
       <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="employeeName">First Name</label>
              <select id="employeeName" formControlName="employeeName" class="form-control"  [(ngModel)]="employeeName">
                  <option>None</option>
              <option  *ngFor = "let user of users.users">{{user.firstName}}</option>
          
             </select>
          </div>
        </div>
      </div>
      
       
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="employeeEmail">Email</label>
              <select id="employeeEmail" formControlName="employeeEmail" class="form-control" [(ngModel)]="employeeEmail">
                  <option>None</option>
              <option  *ngFor = "let user of users.users">{{user.email}}</option>
          
             </select>
          </div>
        </div>
      </div>
      
<!---
       <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label  for="employeeEmail"> Employee Email</label>
            <input type="text" id="employeeEmail" formControlName="employeeEmail" class="form-control">
          </div>
           </div>
       </div>
-->
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label  for="department"> Department</label>
            <input type="text" id="department"  formControlName="department"class="form-control">
          </div>
          </div>
      </div>
     
              <div class="form-group" style="width:260px;float: left;">
                <label for="leaveFromDate">Leave From Date</label>
            <!--   <input  type="date" class="picker-inpu"  id="leaveFromDate" formControlName="leaveFromDate"
                 [value]="leaveFromDate| date:'dd/MM/yyyy'"
                 dateTimePicker 
                [viewFormat]="'YYYY-MM-DD'">--> 
                <input type="date" id="leaveFromDate" formControlName="leaveFromDate" class="form-control" (dataChange)="fromJsonDate($event)"
                
                 (change)="onKeyUpfromdate($event)">
              </div>

              
           
                <div class="form-group" style="width:260px;float: left;">
                  <label for="leaveToDate">Leave To Date</label>
                  <input type="date" id="leaveToDate" formControlName="leaveToDate" class="form-control" (change)="onKeyUptoDate($event)" >
                  <span *ngIf="!leaveForm.get('leaveToDate').valid &&leaveForm.get('leaveToDate').touched" class="help-block"> please enter a valid Date</span>
                </div>
                
            

            <div class="row">
              <div class="col-xs-4">
                <div class="form-group">
                  <label class="labeltext">Total Days : </label>
                  <input type="text" formControlName="leaveDays" class="form-control" [(ngModel)]="leaveDays"  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="reasonForLeave">Reason of Leave</label>
                    <select id="reasonForLeave"  formControlName="reasonForLeave" class="form-control">
                    <option>Sick Leave</option>
                    <option>Medical Leave</option>
                    <option>Vacation</option>
                    <option>Doctor Appointment</option>
                    <option>Leave of Absence</option>
                   </select>
                </div>
              </div>
            </div>


              
           
            
  
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" id="description" formControlName="description" class="form-control" rows="6"></textarea>
              </div>
            </div>
          </div>

        
        
          <div class="row">
            <div class="col-xs-6">
              <button type="submit" class="btn btn-primary" [disabled]="!leaveForm.valid">Apply</button> &nbsp;
              <button type="button" class="btn btn-danger"  (click)="onClear()">Clear</button>
            </div>
          </div>
        </form>
  
 








