

<div class="container-fluid">
    <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
    
  

  
       <!--- <a class="nav-item nav-link active" routerLink="/login" style="cursor: pointer">Login</a> -->  &nbsp; &nbsp;
        <a class="nav-item nav-link active" routerLink ="/sidebar" style="cursor: pointer">Employee</a>  &nbsp;
        <a class="nav-item nav-link active"routerLink ="/dashboard" style="cursor: pointer">Admin</a>  &nbsp;
       
  
      </div></div>
</div>