mat-form-field {
    width: 100%;
  }
  
  mat-spinner {
    margin: auto;
  }
  mat-card{
    padding-left: 30px; 
    width:350px;
    padding-bottom: 30px;
    margin-top: 20px;
   }
   
   mat-radio-group mat-radio-button{
       margin-left: 85px;
   }
   mat-label {
     font-size:20px; 
     margin-bottom: 20px;
   }