


      <table>
                
          <tr>
              <label style="font-size:40px; margin-bottom: 20px"><b> Approve Admin Form</b></label>
          </tr>
        </table>
        <br>
    <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">

     <div>
      <div class="row" >
        <div class="col-xs-6">
          <div class="form-group">
            <label  for="employeeName"> Employee Name</label>
            <input type="text" id="employeeName" formControlName="employeeName" class="form-control" >
      </div>
           </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="employeeEmail">email</label>
              <input type ="text" id="employeeEmail" formControlName="employeeEmail" class="form-control">
           
          
             
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label  for="department"> Department</label>
             <input type="text" id="department"  formControlName="department"class="form-control">
          </div>
          </div>
      </div>

     
      <div class="form-group" style="width:260px;float: left;">
        <label for="leaveFromDate">Leave From Date</label>
    <!--   <input  type="date" class="picker-inpu"  id="leaveFromDate" formControlName="leaveFromDate"
         [value]="leaveFromDate| date:'dd/MM/yyyy'"
         dateTimePicker 
        [viewFormat]="'YYYY-MM-DD'">--> 
        <input type="date" id="leaveFromDate" formControlName="leaveFromDate" class="form-control">
      </div>

   
        <div class="form-group" style="width:260px;float: left;">
          <label for="leaveToDate">Leave To Date</label>
          <input type="date" id="leaveToDate" formControlName="leaveToDate" class="form-control"  >
          <span *ngIf="!leaveForm.get('leaveToDate').valid &&leaveForm.get('leaveToDate').touched" class="help-block"> please enter a valid Date</span>
        </div>
        
        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
              <label class="labeltext">Total Days : </label>
              <input type="text" formControlName="leaveDays" class="form-control" [(ngModel)]="leaveDays"  />
            </div>
          </div>
        </div>

         
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="reasonForLeave">Reason of Leave</label>
                    <select id="reasonForLeave"  formControlName="reasonForLeave" class="form-control">
                    <option>Sick Leave</option>
                    <option>Medical Leave</option>
                    <option>Vacation</option>
                    <option>Doctor Appointment</option>
                    <option>Leave of Absence</option>
                   </select>
                </div>
              </div>
            </div>


            


              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="leaveStatus">leaveStatus</label>
                      <select id="leaveStatus"  formControlName="leaveStatus" name="leaveStatus" class="form-control">
                      <option>Approved</option>
                      <option>Reject</option>
                     </select>
                  </div>
                </div>
              </div>
  
           
  
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="Le">Description</label>
                <textarea type="text" id="description" formControlName="description" class="form-control" rows="6"></textarea>
              </div>
            </div>
          </div>
        </div>
        
          
          <div class="row">
            <div class="col-xs-12">
              <button type="submit" class="btn btn-primary">Save</button> &nbsp;
           
            </div>
          </div>
        

    </form>
  
 








